@{
}
@model Book

<!--Bootstrap 1 & 2 for Checkpoint 11, Removed the card from the book div tag, added start borders (#1) and 
    created shadow backgrounds (#2) behind each individual book-->
<div class="m-5 p-5 border-start border-success border-4 shadow-lg">
    <h3 class="fw-bold">@Model.Title</h3>
    <ul class="fw-light">
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification/Category: @Model.Classification / @Model.Category</li>
        <li>Number of Pages: @Model.PageCount</li>
        <li>Price: @Model.Price</li>
    </ul>
    <br />

    <form method="post" asp-page="/Cart">
        <input type="hidden" asp-for="@Model.BookId" />
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>
</div>